*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.brand-title{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.navbar-links{
    display: flex;
    flex-direction: row;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    /* flex-direction: column; */
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #555;
}
.toggle-button{
position: absolute;
top: 0.75rem;
right: 1rem;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
display: none;
}


@media screen and (max-width:900px) {


    .toggle-button{
        display: flex;
    }
 .navbar-links{
     width: 100%;
     position: absolute;
     top: 10%;
     background-color: transparent;
     flex-direction: column;
     display: none; 
 } 
 .navbar-links ul{
     width: 100%;
     text-align: center;
 } 
 .navbar-links li{
     text-align: center;
 } 
 .navbar{
     flex-direction: column;
     align-items: flex-start;
 }
 .navbar-links.active{
     display: flex;
 }
}

.profileback{
    height: 50vh;
    width: 100vw;
    background-image: url("macbook_mouse.jpg");
    background-size: cover;
    
}

.profilepic{
    height: 23%;
    width: 13%;
    border-radius: 50%;
    border: 1px white solid;
    left: 43%;
    top: 50%;
    position:absolute;
    background-size: cover;
    background-position: center;
    background-image: url("my_image.jpg");
}
@media (max-width:900px) {
    .profilepic{
        display: none;
    }
}


.about-section {
    padding: 8%;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}




.main-content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .div-out{
        height: 20px;
        width: 95px;
        border: 2px black solid;
        border-radius: .8rem; 
    }
    .div-in1{
        height: 100%;
        width: 85%; 
        background-color: blueviolet; 
        border-top-left-radius: 5px;
        border-bottom-left-radius:5px;
        }
        .div-in2{
                height: 100%;
                width: 75%; 
                background-color: rgb(26, 196, 238); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in3{
                height: 100%;
                width: 66%; 
                background-color: rgb(15, 228, 121); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in4{
                 height: 100%;
                width: 73%; 
                background-color: rgb(226, 27, 226); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in5{
                height: 100%;
                width: 95%; 
                background-color: rgb(243, 228, 19); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in6{
                height: 100%;
                width: 55%; 
                background-color: rgb(55, 43, 226); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in7{
                height: 100%;
                width: 42%; 
                background-color: rgb(226, 43, 43); 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .div-in8{
                height: 100%;
                width: 85%; 
                background-color: blueviolet; 
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
        }
        .for-width{
            height: 20px;
            width: 350px;
        }

        .for-heading{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            background-color: transparent;
            font-size: 30px;
            font-weight: 600;
        }


        section:nth-child(2n){
            background-image:radial-gradient( lightblue 50%,lightpink);
            height: 400px;
            width: 100%;
        }
        section:nth-child(2n+1){
            background-image: linear-gradient(lightyellow,rgba(221, 177, 34, 0.76) );
        height: 400px;
        width: 100%;
        }


        /* work-experiance */

        .timeline{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
           /* border: 2px solid black; */

        }

        .timeline-box{
            position: relative;
            min-height: 150px;
            width: 40%;
            margin: 5px;
            left: 5%;
            text-align: end;
            /* border: 2px solid black; */
        }
        .timeline-box:nth-child(2n){
            left: 53%;
        }

        .timeline-divider{
            position: absolute;
            height: 73%;
            width: 0;
            top: 10%;
            left: 50%;
            border: 2px blue dotted;
        }
        .timeline-traveler{
            position: sticky;
            top: 15%;
            transform: rotate(90deg);
        }
        .timeline-box:nth-child(2n+1)::after{
            content: '';
            position: absolute;
            top: 36%;
            
            /* left: 50%; */
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: red;
            right: -13%;
        }
        .timeline-box:nth-child(2n)::after{
            content: '';
            position: absolute;
            top: 28%;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: red;
            left: -9.5%;
        }
        .timeline-box h3{
            color: darkblue;
            margin: 0;
        }
        .timeline-box h5{
            color: orange;
            margin: 0;
        }
        .timeline-box p{
            margin: 0;
            font-size: 0.7rem;
        }
        .about-work{
            font-size: 0.7rem;
            margin-top: 10%;
            width: 100%;
        }
        .portfolioimg{
            min-height:80%;
            width: 100%;
            padding: 4%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
            background-color: white;
        }
        .imgclass{
            height: 52vh;
            width: 41%;
            margin: 3%;
            /* border: 1px red solid; */
        }
        .img1-class{
            background-image: url("codezen_2.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img2-class{
            background-image: url("project_3.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img3-class{
            background-image: url("project.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img4-class{
            background-image: url("project_2.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .img5-class{
            background-image: url("codezen.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img6-class{
            background-image: url("tree.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .imgclass:hover{
            box-shadow: 10px 10px 8px 10px #888888;
            background-color: lightgray;
            transition: all 1s;
        }

        .contact-main{
            padding: 5%;
            height: 100vh;
            width: 100%;
            background-color: #0abcf9;
            background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }
        .contacthw-div{
            height:75%;
            width: 47%;
            /* border: 1px red solid; */
        }
     
        #contact-form input, textarea {
            max-width: 90%;
            margin: 15px;
            padding: 4px 10px;
            border: 0px solid transparent;
            border-bottom: 2px solid white;
            color: var(--contact-light-text-color);
            background: transparent;
            width: 90%;
            line-height: 1.6;
            font-size: 1.05rem;
        }

        .sub-btn{
            background: transparent;
            font-size: 0.95rem;
            border: 2px solid white;
            margin-top: 5%;
            margin-left: 35%;
            border-radius: 2px;
            color: white;
            font-family: sans-serif;
            font-weight: 700;
            line-height: 1;
            padding: 0.8em 0.8em 0.78em;
            text-transform: uppercase;
        }

        .contacthw-div h3{
            color: white;
            font-weight: 550;
            font-size: 1.2rem;
        }

        .contacthw-div p{
            color: #d9dcdd;
            font-size: 0.9rem;
        }
        .my-detail{
            margin-bottom: 20px;
            color: #d9dcdd;
        }